body,html,div,th,tr,td,table,form,input,textarea{
    margin: 0;
    font-family: helvetica;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

.mdWrap.hidePreview .mdInput, .mdWrap.hideEditor .mdOutput{
    width: 99vw;
}

.mdWrap.hidePreview .mdOutput, .mdWrap.hideEditor .mdInput{
    display: none;
}

.mdInput{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 49vw;
    height: 100vh;
}
.mdOutput{
    display: block;
    position: fixed;
    overflow: scroll;
    right: 0;
    top: 0;
    width: 49vw;
    height: 100vh;
}

.mdInput * {
    font: inherit!important
}

#find-popup{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 280px;
    height: 20px;
    background: #DDDDDD;
    border-left: 1px solid #444444;
    border-bottom: 1px solid #444444;
    border-bottom-left-radius: 10px;
    opacity: 0.9;
    text-align: center;
    padding: 10px;
}

.hidden{
    display: none !Important;
}